@model IEnumerable<BTTHLTW_Webbanhang.Models.Product>

@{
    ViewData["Title"] = "";
}

<h2>Products</h2>
<div class="mb-3 text-end">
    <a asp-action="Add" class="btn btn-primary">Tạo mới</a>
</div>

<table class="table"> 
    <thead> 
        <tr> 
            <th>Name</th> 
            <th>Price</th> 
            <th>Description</th> 
            <th>Category</th> 
            <th>Actions</th> 
        </tr> 
    </thead> 
    <tbody> 
    @foreach (var product in Model) 
    { 
        <tr> 
            <td>@product.Name</td> 
            <td>@product.Price</td> 
            <td>@product.Description</td> 
            <td>@product.Category?.Name </td> 
            <td> 
                <a asp-action="Display" class="btn btn-success" asp-route-id="@product.Id">View</a> | 
                <a asp-action="Update" class="btn btn-warning" asp-route-id="@product.Id">Edit</a> | 
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@product.Id">Delete</a> 
            </td> 
        </tr> 
    } 
    </tbody> 
</table>